*{
	margin: 0;
	padding: 0 ;
	}

 nav {
 	width: 100%;
 	height: 100%;
	background-color: #000;
}
nav ul{
	float: right;
	margin-right: 45px;
	margin-top: 25px;
}
nav ul li{
	display: inline-block;
	text-decoration: none;
	line-height: 80px;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 25px;
	transition: .9s ease;
}
ul li a:hover{
	background-color: #daa520;
}    
	
ul li.active a{
	background-color:#daa520;
		color: #fff;
}

.squad{
	height: 742px;
	background-image: url(../01.png);
	background-size: contain;
	background-repeat: no-repeat;
	}
.squad p{
	font-size: 25px;
	line-height: 30px;
	color: white;
    letter-spacing: 1px;
    text-align: center;
    float: right;
    margin-right: 240px;
    margin-top: 250px;
    padding: 52px;
    border: 2px solid black;
    background-color: #000;
    background:rgba(0,0,0,0.8);
    border-radius: 25px;
}
.maps{
	width: 100%;
	padding: 69px 0px 69px 0px;
	float: left;
	background-size: cover;
	 }
.maps .mp{
	margin-top: 90px;
}
.maps hr{
	margin-top: -70px;
}
.maps .heading h1{
	font-size: 42px;
	line-height: 30px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-align: center;
	color: #000;
	margin-top: -44px;
	 
}
.maps .heading p{
	width: 60%;
	font-family: Microsoft JhengHei UI Light;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	color: #000;
	font-size: 20px;
	 
}
.map{
	float: left;
	display: block;
	padding: 10px 10px;
	margin-left: 26px;
	margin-top: -65px;
	height: 610px;
	 
}
.map img{
	width:43vh; 
}

.vehical{padding: 70px 0px 60px 0px;
	    width: 100%;
		float: left;
		background-image: url(../veh2.jpg);
        background-position: left;
        background-size: cover;
		height:447px; 
		margin-top: -84px;
}
.vehical h1{
	font-family: Microsoft JhengHei UI Light;
	font-size: 52px;
    line-height: 30px;
	margin-top: 120px;
	margin-right: 150px;
	letter-spacing: 1px;
	float: right;
	color: #fff;
	margin-bottom: 40px;

}
.vehical p{
     
    font-family: Microsoft JhengHei UI Light;
	font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
	margin-top: 210px;
	margin-right: -330px;
	float: right;
	color: #fff;
	margin-bottom: 10px;
}
.vehical img{
width: 55%;
}

.gif img{
	width: 350px;
    margin-top:35px;
}

.three{
	width: 100%;
	height: 100%;
	background-image: url(../weapon3.jpg);
	background-size: cover;
 	margin-top: 1530px;
}
.three .weap{
	width: 100%;
	height: 100%;
	margin-top: 60px;
}
.three .weap h1{
	font-family: Microsoft JhengHei UI Light;
	font-size: 52px;
    text-align: center;
    margin-top: 180px;
    float: right;
    margin-right: 300px;
    color: #fff;
}
.three .weap img{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 50%;
	margin-left: 5px;
}
.three .weap p{
	font-family: Microsoft JhengHei UI Light;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 35px;
    margin-top: -340px;
    float: right;
    margin-right: 109px;
    color: #fff;
}
.evo{
	margin-top: 25px;
}
.evoh{
	margin-top: 5px;
	font-size: 25px;
	text-align: center;
}
.slideshow{
	margin-top: 15px;
}
.slideshow img{
	margin-left: 265px;
}
.aboutme{
	margin-top: 60px;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),  url(../3.jpg);
	background-size: cover;
	height: 550px;
	color: #fff;
}

.aboutme h1{
	margin-top: 90px;
	float: right;
	margin-right:480px;

	font-size: 52px;
}
.aboutme p{
	margin-top: 180px;
	margin-right: -510px;
	float: right;
	text-align: center;
	font-size: 25px;
}
.contact h1{
	font-size: 30px;
	float: right;
	margin-right: 540px; 
	margin-top: -140px;
	color: #fff;
}
.contact p{
	font-size: 25px;
	float: right;
	margin-right: 440px; 
	margin-top: -90px;
	color: #fff;
}


