*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(../veki.jpg);
	background-size: cover;
}
h1{
	float: right;
	margin-right: 150px;
	margin-top: 50px;
	color: #fff;
}
p{
	float: right;
	margin-right: 15px;
	margin-top: -820px;
	color: #fff;
	font-size: 20px;
}
.em4{
	float: right;
	margin-right: 35px;
	margin-top: -680px;
	color: #fff;
	font-size: 20px;
}
video{
	width: 24%;
	height: 20%;
    float: right;
	margin-right: 25px;
	margin-top: -590px;
}
div{
	background-color: #fff;
	width: 360px;
	height: 350px;
	float: right;
	margin-right: 25px;
	margin-top: -360px;
}
div p {
	margin: 25px;
	margin-top: 45px;
	color: #000;
	font-size: 19px;
	text-align: left;
}